body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  width: 800;
  height: 600;
  max-width: 800;
  max-height: 600;
  padding: 0px;
}
canvas{
  height: 600;
  width: 800;
}

#ply_btn{
  background-color: url("./images/btn_play.png");
  width: 3rem;
  height: 2rem;
}